<!--movies---------------------------->
<div class="movies-heading movies-margin">
  <h2> Movies </h2>
</div>
<section id="movies-list">
  <div class="movies-box app-clickable" *ngFor="let m of movies">
    <div class="movies-img" [routerLink]="['/movie-details', m.imdbID]">
      <img [src]="m.Poster" [alt]="m.Title">
    </div>
    <a [routerLink]="['/movie-details', m.imdbID]">
      {{ m.Title }} : {{m.Type}} released in the year {{m.Year}}
    </a>
  </div>
</section>
<!--footer------------------>
<footer>
  <p>MovieArena -- Developed by Shikhar Bajpai</p>
  <p>Copyright 2021 - MovieArena</p>
  <p>Contact me : <a>shikharbajpai123@gmail.com</a></p>
</footer>
